{% extends 'base.html.twig' %}

{% block title %}New Institution{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('institution_index') }}">Institutions</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
{% endblock %}

{% block body %}
    {% embed 'institution/partial/form.html.twig' %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}