twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    date:
        timezone: America/Vancouver
        format: Y-m-d g:i:s A
        interval_format: '%%d days'
    form_themes:
        - "@NinesUtil/form/fields.html.twig"
        - 'form/fields.html.twig'
        - 'jquery.collection.html.twig'
    globals:
        nines_editor_config: js/editor-config.js
        text_service: '@Nines\UtilBundle\Services\Text'
        matomo_enabled: '%dhil.matomo_enabled%'
        matomo_url: '%dhil.matomo_url%'
        matomo_siteid: '%dhil.matomo_siteid%'
        matomo_domain: '%dhil.matomo_domain%'
        linker: '@Nines\UtilBundle\Services\EntityLinker'
