{%- for field in form.children -%}
    {%- if 'hidden' not in field.vars.block_prefixes and field.vars.label and field.vars.id -%}
        <a href="#{{ field.vars.id }}_label" class="link-dark d-block small text-decoration-none rounded mb-1 px-1">{{ field.vars.label }}</a>
    {%- endif -%}
{%- endfor -%}