<input type="submit" form="form_id_{{ form.vars.name }}" value="{{ is_new ? 'Create' : 'Save' }}" class="btn btn-primary" />
<input type="submit" form="form_id_{{ form.vars.name }}" name="submitAndContinue" value="Save & Continue" class="btn btn-primary" />
<a href="{{ cancel_path }}" class="btn btn-warning">Cancel</a>