includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 6
    paths:
        - src
        - tests
        - migrations
    excludePaths:
        - src/Kernel.php
        - tests/*/data/*
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false

    checkUninitializedProperties: true

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingCallableSignature: true

    dynamicConstantNames:
        - App\Tests\Controller\CategoryTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\ContributorTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\ContributorRoleTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\EpisodeTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\InstitutionTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\LanguageTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\PersonTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\PodcastTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\PublisherTest::ANON_RESPONSE_CODE
        - App\Tests\Controller\SeasonTest::ANON_RESPONSE_CODE
