{% extends 'popup.html.twig' %}

    {% block title %}New Publisher {% endblock %}

    {% block body %}
        <h1>New Publisher</h1>

        {% embed 'publisher/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
