<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">New Publisher</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {{ form_start(form, {
        aria_label: 'Create Publisher',
        action: path('publisher_new', {podcast_id: podcast.id})
    }) }}
    {{ form_widget(form) }}
    <div class="mb-3 text-center">
        <input type="submit" value="Create Publisher" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
    {{ form_end(form) }}
</div>