body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}

.page {
    min-height: 100vh;
}

@media (min-width: 768px) {
    .page-sidebar {
        max-width: 300px;
    }

    .page-content {
        max-height: 100vh;
        overflow-y: auto;
    }
}

.page-sidebar .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}
.page-sidebar .btn-toggle:hover,
.page-sidebar .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.page-sidebar .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.page-sidebar .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.page-sidebar .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.page-sidebar .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.page-sidebar .btn-toggle-nav a:hover,
.page-sidebar .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

/* Custom app styles */
label.required::after, legend.required::after {
    content: ' *';
    color: red;
    font-weight: bold;
}

a[href ^= 'mailto:']::after {
    content: "\f32c";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 0.5ex;
}


a[href ^= 'http://']:not('.ignore-external')::after,
a[href ^= 'https://']:not('.ignore-external')::after {
    content: "\F1C5";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 0.5ex;
}

.breadcrumb .breadcrumb-item {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popover .popover-body {
    padding: 0px;
}

.card {
    margin-bottom: 20px;
}

div.collection span[class*="-collection-actions"] {
    width: inherit !important;
}

div.collection-media > div:not(:last-child),
div.collection-complex > div:not(:last-child) {
    padding-top: 15px;
    border: 1px solid rgba(128, 128, 128, 0.31);
}

.status-badge-label {
    display: inline-block;
    max-width: 200px;
}

/* Styling for the FAST autocomplete widget. */
.ui-widget.ui-widget-content {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
}

.ui-menu {
    max-width: 80vh !important;
    margin: 0;
    padding: 0;
}

.ui-menu-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 4px;
    display: block;
}

.ui-state-active {
    background-color: #91d6ec;
}

.show-more-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    cursor: pointer;
    text-overflow: ellipsis;

    * {
        display: inline;
    }
}

.select2-hidden-accessible {
    display: none !important;
}

/* bootstrap overrides */
/* amplify teal #027D82 or 2,125,130 */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #027D82;
    --bs-btn-border-color: #027D82;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #027D82;
    --bs-btn-hover-border-color: #027D82;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #027D82;
    --bs-btn-active-border-color: #027D82;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #027D82;
    --bs-btn-disabled-border-color: #027D82;
}
.text-bg-primary {
    color: #fff !important;
    background-color: RGBA(2,125,130,var(--bs-bg-opacity,1)) !important;
}
.bg-primary {
    --bs-primary-rgb: 2,125,130;
}
.text-primary {
    --bs-primary-rgb: 2,125,130;
}
.link-primary {
    color: #027D82 !important;
}
.alert-success {
    --bs-alert-color: #027D82;
    --bs-alert-bg: rgba(2,125,130 , 0.125);
    --bs-alert-border-color: rgba(2,125,130 , 0.25);
  }


/* amplify pink #DD1B70 or 221,27,122 */
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DD1B70;
    --bs-btn-border-color: #DD1B70;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #DD1B70;
    --bs-btn-hover-border-color: #DD1B70;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #DD1B70;
    --bs-btn-active-border-color: #DD1B70;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #DD1B70;
    --bs-btn-disabled-border-color: #DD1B70;
}
.text-bg-danger {
    color: #fff !important;
    background-color: RGBA(221,27,122,var(--bs-bg-opacity,1)) !important;
}
.bg-danger {
    --bs-primary-rgb: 221,27,122;
}
.alert-danger {
    --bs-alert-color: #DD1B70;
    --bs-alert-bg: rgba(0, 0, 0, 0.125);
    --bs-alert-border-color: rgba(0, 0, 0, 0.25);
}
.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DD1B70;
    --bs-btn-border-color: #DD1B70;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #DD1B70;
    --bs-btn-hover-border-color: #DD1B70;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #DD1B70;
    --bs-btn-active-border-color: #DD1B70;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #DD1B70;
    --bs-btn-disabled-border-color: #DD1B70;
}

select.select2-hidden-accessible {
    position: relative !important;
    display: block !important;
    width: 0px !important;
    height: 0px !important;
    border: none !important;
    top: calc(1.5em + .75rem + 2px) !important;
}

textarea.tinymce {
    position: relative !important;
    display: block !important;
    width: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
    padding: 0px !important;
    border: none !important;
    resize: none !important;
    outline: none !important;
    box-shadow: none !important;
}