{% extends 'base.html.twig' %}

    {% block title %}New Image {% endblock %}

    {% block body %}
        <h1>New Image</h1>

        {% embed 'image/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
