{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('category_new') }}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/index.html.twig' with {
        'terms': categories,
        'path': 'category_show',
        'caption': categories.getTotalItemCount ~ ' ' ~ (q ? 'found' : 'total'),
    } %}
    {% endembed %}
{% endblock %}
