{% extends 'base.html.twig' %}

    {% block title %}Edit Language {% endblock %}

    {% block body %}
        <h1>Edit Language</h1>

        {% embed 'language/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
