{% extends 'base.html.twig' %}

    {% block title %}New Episode {% endblock %}

    {% block body %}
        <h1>New Episode</h1>

        {% embed 'episode/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}

{% block styles %}
    <style>
        #facetButton::after {
        content('x');
        }
        .ui-widget.ui-widget-content {
            border: none;
            outline: 1px solid #999999;
            background-color: white;
        }

        .ui-menu-item {
            padding: 4px;
            list-style: none;
        }

        .ui-menu .ui-menu-item-wrapper {
            padding: 0;
        }
    </style>
{% endblock %}
