{% extends 'popup.html.twig' %}

    {% block title %}New Season {% endblock %}

    {% block body %}
        <h1>New Season</h1>

        {% embed 'season/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
