<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Country</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
        {% for institution in institutions %}
            <tr>
                <td>
                    <a href="{{ path('institution_show', { 'id': institution.id }) }}">
                        {{ institution.id }}
                    </a>
                </td>
                <td>
                    {{ institution.country }}
                </td>

                <td>
                    {{ institution.name }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
