{% for item in items %}
    <li class="list-group-item text-truncate d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto text-truncate" aria-hidden="true">
            {{ item.label }}
        </div>
        <a href="{{ path(item.route, item.route_params) }}" class="link-dark text-decoration-none stretched-link" aria-label="Select to Edit: {{ item.label|e }}">
            Edit <i class="bi bi-arrow-right" aria-hidden="true"></i>
        </a>
    </li>
{% endfor %}