<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        {% for podcast in podcasts %}
            <tr>
                <td>
                    <a href="{{ path('podcast_show', { 'id': podcast.id }) }}">
                        {{ podcast.title }}
                    </a>
                </td>
                <td>
                    {{ podcast.website|raw }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
