{% extends 'base.html.twig' %}

    {% block title %}Edit Contribution {% endblock %}

    {% block body %}
        <h1>Edit Contribution</h1>

        {% embed 'contribution/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
