{% extends 'base.html.twig' %}

{% block title %}Contribution List{% endblock %}

{% block pageheader %}
    <h1>Contribution List</h1>
    <p class="count">
        Displaying {{ contributions|length }} contributions of {{ contributions.getTotalItemCount }} total.
    </p>
 {% endblock %}

{% block body %}

    {% embed 'contribution/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(contributions) }}
    </div>

{% endblock %}
