{% extends 'popup.html.twig' %}

    {% block title %}New Contribution {% endblock %}

    {% block body %}
        <h1>New Contribution</h1>

        {% embed 'contribution/partial/table.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
