{% extends 'base.html.twig' %}

{% block title %}Contribution Details {% endblock %}

 {% block pageheader %}
     <h1>Contribution Details</h1>
 {% endblock %}

{% block body %}

    {% embed 'contribution/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
