{% extends 'popup.html.twig' %}

    {% block title %}New Contributor Role {% endblock %}

    {% block body %}
        <h1>New Contributor Role</h1>

        {% embed 'contributor_role/partial/table.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
