    {% extends 'base.html.twig' %}

    {% block title %}New Podcast {% endblock %}

    {% block body %}
    <h1>New Podcast</h1>

    {% embed 'podcast/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
